
/* -------------------------------- 

Home Hero

-------------------------------- */

.home-hero {
    margin: 0;
    font-family: 'Raleway';
    font-weight: normal;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
    height:78vh;
    display: flex;
    align-items: center;
    color: #fff;
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap{
  z-index: -1;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:78vh;
  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-height:90%;
  min-width:100%;
}

.header-overlay{
  height:78vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:-1;
}

.header-content{
  align-content: center;
  z-index:1;
}

.header-content > h1 {
  font-size:50px;
  margin-bottom:0;
  line-height: 3rem;
  min-width:690px;
}
.arc {
    color: #fff;
}
.header-content > h1 > #span-highlight {
    display: none
}

.header-content p{
  font-size:1.5rem;
  display:block;
  padding-bottom:3rem;
  padding-left: 10vw;
  padding-right: 10vw;
}
@media only screen and (max-width:600px) {
    .header-content p {
        padding-left: 150px;
        padding-right: 150px;
    }
}
@media only screen and (max-width:470px) {
    .header-content p {
        padding-left: 200px;
        padding-right:200px;
    }
}
@media only screen and (max-width:300px) {
    .header-content p {
        display: none;
    }
}
.header-content > div > .btn{
  color:#fff;
  font-size:1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  border-style: solid;
  border-color: #8EAEBD;
  transition: 0.35s all ease;
}

.header-content > div > .btn:hover{
  background: #8EAEBD;
  font-size:1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #F2F0E8;
}

#underline-long {
    margin-left: auto;
    margin-right: auto;
    width: 38%;
    border-bottom: 5px solid #8EAEBD;
    margin-bottom: 2rem;
    margin-top: 2.75rem;
}

.gear {
  width: 50px;
  height: 50px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  margin-top: -15px;
  margin-bottom: 25px;
}

.gear:hover {
    transform: translateY(150px);
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@media only screen and (max-width: 450px) {
    .header-content > h1 {
        font-size: 25pt;
    }
}
@media only screen and (max-width: 300px) {
    .header-content > h1 {
        font-size: 20pt;
    }
}
/* -------------------------------- 

Analytics

-------------------------------- */

#analytics {
    height: 200px;
    background: #262C36;
    border-top: 2px solid #C3C1BF;
    text-align: center;
    border-bottom: 4px solid #C3C1BF;
    margin-bottom: -1px;
}

.row {
    display: inline-block;
    text-align: center;
    margin: 5vw;
    margin-top: 20px;
}

.ct {
    color: #8EAEBD;
}

@media only screen and (max-width: 1000px) {
    .row {
        margin:2vw;
    }
}
@media only screen and (max-width: 720px) {
    .analytics-subtitle {
       font-size:14pt; 
    }  
}
@media only screen and (max-width: 585px) {
    .disappear {
       display: none; 
    }  
    .row {
        margin-top:25px;
    }
}
/* -------------------------------- 

Location

-------------------------------- */

#colorado-springs-parallax {
    height: 500px;
    border-bottom: 2px solid #C3C1BF;
}

.location-icon {
    display: inline-block;
    margin-top: 50px;
    margin-left: 7vw;
}

#colorado-springs-parallax > h1 {
    display: inline-block;
    transform: translateY(-80px);
    margin-left: 2vw;
    font-family: Raleway;
    border-bottom: 2px solid #C3C1BF;
    width: 20%;
}
#colorado-springs-parallax > p {
    display: inline-block;
    transform: translateX(-15vw);
}

.springs-map iframe {
    outline:6px solid #8EAEBD;
    display: inline-block;
}

.springs-map {
    display: block;
    position: absolute;
    right: -45vw;
    margin-top: -150px;
}
#colorado-springs-parallax iframe {
    width: 600px;
    height: 280px;
}
.springs-map img {
    z-index: 1;
    position: absolute;
    top: 100px;
    left: -45px;
    transform: translateY(-160px)
}

.location-map-text {
    width: 40%;
    margin-left: 10vw;
    padding-top: 20px;
    border-top: 3px solid #8EAEBD;
    transform: translateY(80px);
}

.location-map .location-map-btn {
    text-decoration: none;
    float: left;
    color: #fff;
    text-transform: uppercase;
    margin-top: 35px;
    font-family: 'Raleway';
    outline: 1px solid #8EAEBD;
    padding: 14px;
    font-weight: 500;  
    transition: 0.35s all ease;
}

.location-map-btn {
    float: left;
}

.location-map .location-map-btn:hover {
    background: #2B2F39;
    color: #fff;
}

@media only screen and (max-width:1485px) {
    #colorado-springs-parallax iframe  {
        width: 400px;
        height: 235px;
    }
}
@media only screen and (max-width: 1050px) {
    #colorado-springs-parallax iframe  {
        width: 350px;
        height: 205px;
    }    
}
@media only screen and (max-width: 930px) {
    #colorado-springs-parallax iframe  {
        display: none;
    }    
    #colorado-springs-parallax img {
        display: none;
    }
    .location-map-text {
        width: 80%;
        margin-left: 10vw;
        padding-top: 20px;
        border-top: 2px solid #C3C1BF;;
        transform: translateY(80px);
    }
}
@media only screen and (max-width:385px) {
    .location-map-text > p {
        display: none;
    }
}

/* -------------------------------- 

Curriculum Overview

-------------------------------- */
#curriculum-overview {
    text-align: center;
    border-bottom: 2px solid #C3C1BF;
}

.location-row {
    display: inline-block;
    margin: 20px;
    padding-left: 100px;
    padding-right: 100px;
    border-right: 1px solid #8EAEBD;
    border-left: 1px solid #8EAEBD;
    border-top: 2px solid #AC966Q
}

/* -------------------------------- 

Twitter feed

-------------------------------- */
#twitter-feed {
    background: #272A2D;
    border-bottom: 2px solid #C3C1BF;;
    padding:50px;
}
#twitter-containers {
    display: flex;
}
.twitter-feed{
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 2em;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px; 
}


.container-twitter {
  width: 320px;
  margin: 0em auto 1em auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding-bottom: 1.5em;
  background-color: #fff;
  -webkit-box-shadow: #bdc3c7 0 5px 5px;
  -moz-box-shadow: #bdc3c7 0 5px 5px;
  box-shadow: #bdc3c7 0 5px 5px;
  margin-top: -90px;
  display: inline-block;
}

.bg {
  border-bottom: 8px solid #5cc0ff; }

.bio:hover > .desc {
  cursor: pointer;
  opacity: 1; }

.avatarcontainer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 70px;
  height: 70px;
  display: block; }
  .avatarcontainer:hover > .hover {
    opacity: 1; }

.avatar {
  width: 100%;
  border: 8px solid #5cc0ff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  position: relative; }
  .avatar img {
    width: 65px;
    height: 65px; }
  .avatar:hover + .hover {
    opacity: 1;
    cursor: pointer; }

.hover {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #3498db;
  top: 0;
  font-size: 1.8em;
  text-align: center;
  color: white;
  padding-top: 18%;
  opacity: 0;
  font-family: 'FontAwesome';
  font-weight: 300;
  border: 8px solid #5cc0ff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.data {
  margin-top: .6em;
  color: #81878b; }
  .data li {
    width: 32%;
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    font-family: 'Lato';
    border-right: solid 1px #bdc3c7; }
    .data li:last-child {
      border: none; }
    .data li span {
      display: block;
      text-transform: uppercase;
      font-family: 'Quicksand';
      font-size: .5em;
      margin-top: .6em;
      font-weight:700;
    }

.desc {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 171px;
  padding: 1.2em 1em 0 1em;
  color: white;
  text-align: center;
  opacity: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }
  .desc h3 {
    font-family: "Lato";
    font-size: 1.2em;
    margin-bottom: .5em; }
  .desc p {
    font-size: .9em;
    font-family: 'Quicksand';
    line-height: 1.5em; }

.follow {
  margin: 1.5em auto 0 auto;
  background-color: #2589cc;
  width: 150px;
  color: white;
  font-family: "Lato";
  text-align: center;
  padding: .5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }
  .follow:hover {
    background-color: #167abd;
    cursor: pointer; }
@media only screen and (max-width:1135px) {
    #d11-twitter {
        transition:0.35s all ease;
        display:none;
    }    
}
@media only screen and (max-width:800px) {
    #doherty-twitter {
        transition:0.35s all ease;
        display:none;
    }    
}

/* -------------------------------- 

Timeline

-------------------------------- */
#timeline {
    background: #121518;
}

#timeline > iframe {
    margin-left:10vw;
    margin-top:30px;
    margin-bottom:30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .28);
    border-top: 2px solid #4CBDFB;
}

/* -------------------------------- 

Team

-------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Raleway:200);

#team-home {
    color: #858585;
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    font-weight: 200;
    height: 1500px;
    border-top: 2px solid #C3C1BF;
    border-bottom: 2px solid #C3C1BF;;
}
@media only screen and (max-width:1215px) {
    #bonville-2 {
        display:none;
    }
    #neumeyer-j-2 {
        display:none;
    }    
}
@media only screen and (max-width:845px) {
    #aker-2 {
        display:none;
    }
    #truex-2 {
        display:none;
    }   
}
#team-home > h4,
.h4{
    font-size: 18px;
    font-weight: bold;
}

.team-container {
    width:100%;
    padding-top:72px;
    height: 100px;
    margin-bottom:1250px;
}
.team
{
    width: 370px;
    min-height: 100%;
    border: 1px solid rgba(133,133,133,.15);
    background-color: #fff;
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.09);
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.09);
    box-shadow: 0 0 8px rgba(0,0,0,.09);
    float: left;
    margin-left: 16px;
}
.teamimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: -80px;
    width:170px;
    height:170px;
    background: #1bbc9d;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .28);
    transition: 0.5 all ease;
    border-radius: 100px;
}
#aker {
    background: url(/img/captions/aker.jpg);
}
#truex {
    background: url(/img/captions/truex.jpg);
}
#neumeyer-j {
    background: url(/img/captions/neumeyer-j.jpg);
}
#neumeyer-c {
    background: url(/img/captions/neumeyer-c.jpg);    
}
#johnson {
    background: url(/img/captions/johnson.jpg);    
}
#bonville {
    background: url(/img/captions/bonville.jpg);    
}

.teamsocial
{
    height: 48px;
    background-color: #f7f5f5;
    position: relative;
    bottom: -14px;
    left: 0;
}

.facebook-team
{
    width: 48px;
    height: 48px;
    color: #D1CFCF;
    display:block;
    font-size:30px;
    padding: 7px;
}

.twitter-team
{
    width: 48px;
    height: 48px;
    color: #D1CFCF;
    display:block;
    font-size:30px;
    padding: 7px;
}

.google-team
{
    width: 48px;
    height: 48px;
    color: #D1CFCF;
    display:block;
    font-size:30px;
    padding: 7px;
}

.pinterest-team
{
    width: 48px;
    height: 48px;
    color: #D1CFCF;
    display:block;
    font-size:30px;
    padding: 7px;
}

.facebook-team:hover
{
    color: #3B5998;
}

.twitter-team:hover
{
    color: #29B3E1;
}

.google-team:hover
{
    color: #DE5845;
}

.pinterest-team:hover
{
    color: #C51C23;
}
a.btn-standard {
    color: #fff;
    outline: 1px solid #8EAEBD;
    padding: 12px;
    font-size: 12pt;
    text-transform: uppercase;
    transition: 0.35s all ease;
}
.btn-standard:hover {
    background: #2F323B;
}

/* -------------------------------- 

Competitive Activities

-------------------------------- */

.activities-text {
    float:right;
    width: 40%;
    margin-right: 10vw;
    margin-top: 130px;
    border-top: 3px solid #8EAEBD;
    
}
.activities-map .activities-map-btn {
    text-decoration: none;
    float: left;
    color: #fff;
    text-transform: uppercase;
    margin-top: 35px;
    font-family: 'Raleway';
    outline: 1px solid #8EAEBD;
    padding: 14px;
    font-weight: 500;  
    transition: 0.35s all ease;
}

.activities-map-btn {
    float: right;
}

.activities-map .activities-map-btn:hover {
    background: #2B2F39;
    color: #fff;
}

.slick-initialized .slick-slide {
  display: block;
  filter: alpha(opacity=40);
  opacity: 0.4;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.slick-initialized .slick-center {
  display: block;
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.wrapper {
  width: 40%;
  margin: 0 auto;
  margin-left: 4vw;
  padding-top:80px;
}
.wrapper h2 {
  color: #3498DB;
  opacity: .85;
  font-family: 'Pacifico';
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 36px;
  margin: 15px 0;
}

.slick-codepen {
  width: 100%;
  height: 340px;
  background-color: #141414;
  outline: 1px solid #8EAEBD;
}
.slick-codepen .slick-slide {
  height: 340px !important;
}
.slick-codepen .slick-slide img {
  margin: 0;
  padding: 0;
  display: block;
  height: 100%;
}
.slick-codepen .slick-prev {
  left: 0;
}
.slick-codepen .slick-next {
  right: 0;
}
.slick-codepen .slick-prev, .slick-codepen .slick-next {
  background-color: rgba(0, 0, 0, 0);
  top: 10px;
  width: 20%;
  height: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.slick-codepen .slick-prev:hover, .slick-codepen .slick-next:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
.slick-codepen .slick-prev:hover:before, .slick-codepen .slick-next:hover:before {
  color: rgba(255, 255, 255, 0.65);
}
.slick-codepen .slick-prev:before, .slick-codepen .slick-next:before {
  font-size: 38px;
  color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.slick-codepen .slick-dots {
  width: 22%;
  left: 40%;
  bottom: -68px;
  border-bottom: 1px solid #8EAEBD;
  padding: 15px 0;
}
.slick-codepen .slick-dots li.slick-active button:before {
  color: #8EAEBD;
  margin-top: 1px;
  font-size: 10px;
}



@media only screen and (max-width:880px) {
    .activities-text p {
        display: none;
    }    
}
@media only screen and (max-width:700px) {
    div.wrapper{
        display: none;
    }      
    #competitive-activities {
        display: none;
    }
}


/* -------------------------------- 

Awards

-------------------------------- */

#awards {
    background: #181E31;
    border-bottom: 2px solid #C3C1BF;
}

.award {
    display: inline-block;
    padding-left: 40px;
    padding-right:40px;
    transform: scale(0.75);
    margin-top:-100px;
    margin-bottom:-85px;
    height: 400px;
    width: 400px;
}
#award-list {
    display: flex;
    align-content: center;
    justify-content: center;
}
@media only screen and (max-width:1200px) {
    .award {
        transform:scale(0.65);
        margin-left:-50px;
        margin-right:-50px;
    }
}
@media only screen and (max-width:1000px) {
    .award {
        transform:scale(0.55);
        margin-left:-70px;
        margin-right:-70px;
    }
}
@media only screen and (max-width:850px) {
    .remove-future {
        display: none;
    }
}
@media only screen and (max-width:600px) {
    .remove-future-2 {
        display: none;
    }
    
}
/* -------------------------------- 

Creed

-------------------------------- */
.community-service {
    position: absolute;
    right: 15vw;
     margin-top:-230px;
}
.creed {
   height: 340px;
   background: url(/img/banners/quote-area.jpg);
   border-bottom: 2px solid #C3C1BF;
   border-top: 2px solid #C3C1BF;
    color: #fff;
}

.creed > p {
    padding-top:20px;
    margin-left:10vw;
    width:53vw;
    padding-top:50px;
}
span.moddo {
    font-size:25pt;
    font-family: Quicksand,'Raleway',Lato,'Georgia';
    font-style: italic;
    transition: 0.35s all ease;
    margin-left:0vw;
    border-bottom: 1px dashed #C2C0BE;
}

@media only screen and (max-width:1580px) {
    .community-service {
        transform: scale(0.7);
    }
}
@media only screen and (max-width:1200px) {
    .community-service {
        display: none;
    }
    .creed > p {
        width: 80%;
    }
}
@media only screen and (max-width:800px) {
   .moddo-text {
        display: none;
    }   
}
