@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700');

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  background-color: #8EAEBD;
}

body {
  font-size: 1.6rem;
  font-family: "Hind", sans-serif;
  color: #fff;
}

a {
  color: #8F3985;
  text-decoration: none;
}

/* -------------------------------- 

Future Plans

-------------------------------- */

#future-plan {
    background: url(/img/banners/future-plan.jpg);
    border-bottom: 2px solid #C3C1BF;
}

#section-merger {
    width: 80%;
    background: #fff;
    margin: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .48);
    transform:translateY(50px);
    border-bottom: 6px solid #84A9B7;
    margin-bottom:100px;
}
#section-merger > h1 {
    color: #636C6E;
    border-bottom: 1px solid #BABCBD;
    width: 40%;
    padding-top:20px;
    margin-left:4vw;
    font-family: 'Raleway', 'Open Sans', 'Lato', 'Georgia';
}
#section-merger > p {
    color: #929095;
    font-family: 'Raleway', 'Open Sans', 'Lato', 'Georgia';
    width: 96%;
    padding-left:4vw;
    padding-top:25px;
    margin-bottom:30px;
}

/* -------------------------------- 

New Home Hero

-------------------------------- */

.large-header {
   position: relative;
   width: 100%;
   background: #111;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 1;
   height: 78vh !important;
   border-bottom: 2px solid #C3C1BF;
}

.main-title {
   position: absolute;
   margin: 0;
   padding: 0;
   text-align: center;
   top: 50%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
}

canvas#demo-canvas {
   height: 720px !important;
    width: 100%;
}
@media only screen and (max-width: 768px) {
   .demo .main-title {
      font-size: 3em;
   }
}

/* -------------------------------- 

1. Auto-Hiding Navigation - Simple

-------------------------------- */
.cd-auto-hide-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;transform:
  background-color: hsla(21, 10%, 10%, 0.22);

  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.cd-auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}
.cd-auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
    transform: translateY(-110px);
    
}
@media only screen and (min-width: 1275px) {
  .cd-auto-hide-header {
    height: 85px;
  }
}

.cd-auto-hide-header .logo a, .cd-auto-hide-header .logo img {
  display: block;
  content: url(/img/logos/logo-shrunken.png);
  margin-top:50px;
}


.cd-auto-hide-header .logo,
.cd-auto-hide-header .nav-trigger {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cd-auto-hide-header .nav-trigger {
  /* vertically align its content */
  display: table;
  height: 100%;
  padding: 0 1em;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  right: 0;
  border-left: 1px solid #f2f2f2;
}
.cd-auto-hide-header .nav-trigger span {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
}
.cd-auto-hide-header .nav-trigger em, .cd-auto-hide-header .nav-trigger em::after, .cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon */
  display: block;
  position: relative;
  height: 2px;
  width: 22px;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.cd-auto-hide-header .nav-trigger em {
  /* this is the menu central line */
  margin: 6px auto 14px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}
.cd-auto-hide-header .nav-trigger em::before, .cd-auto-hide-header .nav-trigger em::after {
  position: absolute;
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon top line */
  -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
          transform: translateY(-6px);
}
.cd-auto-hide-header .nav-trigger em::after {
  /* this is the menu icon bottom line */
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
}
@media only screen and (min-width: 1275px) {
  .cd-auto-hide-header .nav-trigger {
    display: none;
  }

.cd-auto-hide-header .logo {
  left: 5%;
  transform: translateY(-74px);
}
  
.cd-auto-hide-header .logo a, .cd-auto-hide-header .logo img {
  display: block;
}

}

.cd-auto-hide-header.nav-open .nav-trigger em {
  /* transform menu icon into a 'X' icon */
  background-color: rgba(255, 255, 255, 0);
}
.cd-auto-hide-header.nav-open .nav-trigger em::before {
  /* rotate top line */
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.cd-auto-hide-header.nav-open .nav-trigger em::after {
  /* rotate bottom line */
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cd-primary-nav {
  display: inline-block;
  float: right;
  height: 100%;
  padding-right: 5%;
}

.cd-primary-nav > ul {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #2B2F39;
  display: none;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
}
.cd-primary-nav > ul a {
  /* target primary-nav links */
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  color: #fff;
  font-size: 1.8rem;
}


.cd-primary-nav > ul a:hover, .cd-primary-nav > ul a.active {
  color: #8EAEBD;
}

@media only screen and (min-width: 1275px) {
    .cd-auto-hide-header .logo {
        transform: translateY(-100px);
    }
    .cd-primary-nav {
    /* vertically align its content */
    display: table;
      z-index: 20;
  }
.cd-primary-nav > ul {
  transform:translateY(0px);
}
.cd-primary-nav > ul > li {
  padding: 15px;
}

.cd-auto-hide-header .logo a, .cd-auto-hide-header .logo img {
  display: block;
  content: url(/img/logos/logo.png);
}
  .cd-primary-nav > ul {
    /* vertically align inside parent element */
    display: table-cell;
    vertical-align: middle;
    /* reset mobile style */
    position: relative;
    width: auto;
    top: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .cd-primary-nav > ul::after {
    clear: both;
    display: block;
  }
  .cd-primary-nav > ul li {
    display: inline-block;
    float: left;
    margin-right: 1.5em;
  }
  .cd-primary-nav > ul li:last-of-type {
    margin-right: 0;
  }
  .cd-primary-nav > ul a {
    /* reset mobile style */
    height: auto;
    line-height: normal;
    padding: 0;
    border: none;
  }
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
.nav-open .cd-primary-nav ul,
.cd-primary-nav ul:target {
  /* 
  	show primary nav - mobile only 
  	:target is used to show navigation on no-js devices
  */
  display: block;
}
@media only screen and (min-width: 1275px) {
  .nav-open .cd-primary-nav ul,
  .cd-primary-nav ul:target {
    display: table-cell;
  }
}

.minified  {
    transition: 0.5s all ease;
    z-index: 50;
    background: #343B44;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .28);
}

.minified .logo {
    margin-top: 10px;
    transform:scale(0.8);
    margin-top:-130px;

}

/* -------------------------------- 

Timeline

-------------------------------- */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

/* Animation Portion */

.cssanimations .cd-timeline-img.is-hidden {
  visibility: hidden;
}
.cssanimations .cd-timeline-img.bounce-in {
  visibility: visible;
  animation: cd-bounce-1 0.6s;
}
 
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
 
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
 
  100% {
    transform: scale(1);
  }
}

/* -------------------------------- 

Return-to-Top

-------------------------------- */
#return-to-top {
    position: fixed;
    bottom: 60px;
    right: 20px;
    background: rgba(137, 171, 186, 0.4);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#chevron {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(137, 171, 186, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
@media only screen and (max-width: 1300px) {
    #return-to-top {
        opacity: 0;
    }
    div#at4-share.at4-share.addthis_32x32_style.atss.atss-right.addthis-animated.slideInRight {
        opacity: 0;
    }
}

/* -------------------------------- 

Scroll Indicator

-------------------------------- */

.scrollindicator{
	width: 100%;
	height: 7px; /* height of progress bar */
	display: block;
	background: #2F323B;
	left: 0;
	bottom: 0; /* dock progress bar to bottom of page (change to "top" for top instead) */
	cursor: pointer;
	position: fixed;
	z-index: 1000000;
	visibility: hidden;
	-webkit-transition: height .2s ease;
	transition: height .2s ease;
}

.scrollprogress{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #8AACBA; /* background color of progress bar */
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	=-webkit-transition: -webkit-transform .4s ease; 
	transition: transform .4s ease; /* animate progress bar? Remove to disable */
}

/* -------------------------------- 

Footer

-------------------------------- */
footer {
  background: #2F323B;
  color: #fff;
  margin: 0;
  @import "https://fonts.googleapis.com/css?family=Open+Sans";
  font-family: 'Open Sans', sans-serif;
  border-top: 18px solid #2F323B;
    
}
footer .centered {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .centered .footer-logo {
  width: 35%;
  margin-left: -10vw;
  margin-top: -50px;
}
footer .centered .footer-logo img.logo {
  padding: 30px 20px 10px 20px;
  max-width: 100%;
}
footer .centered .footer-contact {
  width: 20%;
}
footer .centered .footer-navigation {
  width: 100%;
  margin-left: 10vw;
}
footer .centered .footer-navigation .footer-links-holder {
  width:17%;
  position: relative;
  float: left;
  margin: 0;
}
footer .centered .footer-navigation .footer-links-holder .footer-links {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: max-height .5s;
  transition: max-height .5s;
  font-size: 8pt;
}
footer .bottom-bar {
  position: relative;
  text-align: center;
  font-size: .8em;
  text-transform: uppercase;
  background: #121518;
  padding: 15px 0;
  border-top: 1px solid #C3C1BF;
}

/* Responsive Tablet Sizes */
@media only screen and (max-width: 749px) {
  footer .centered {
    flex-wrap: wrap;
  }
  footer .centered .footer-logo {
    max-width: 250px;
    width: 50%;
    padding-top: 20px
  }
  footer .centered .footer-contact {
   display: none;
  }
  footer .centered .footer-navigation {
    width: 100%;
  }
  footer .centered .footer-navigation .footer-links-holder {
    padding: 0 20px;
  }
}
/* Responsive Mobile Sizes */
@media only screen and (max-width: 628px) {
  footer .centered .footer-logo {
    width: 100%;
    margin: 0 auto;
  }
  footer .centered .footer-contact {
    width: 100%;
  }
  footer .centered .footer-navigation .footer-links-holder {
    width: 100%;
    padding: 0;
  }
  footer .centered .footer-navigation .footer-links-holder h3 {
    margin: 0;
    padding: 10px 20px;
    border-top: #000 1px solid;
    cursor: pointer;
    /* Down Arrows */
  }
  footer .centered .footer-navigation .footer-links-holder h3::after {
    float: right;
    margin-right: 10px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-top: 7px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: transform .5s;
    transition: transform .5s;
    
  }
  footer .centered .footer-navigation .footer-links-holder .footer-links {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    
  }
  footer .centered .footer-navigation .footer-links-holder.active h3::after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    
  }
  footer .centered .footer-navigation .footer-links-holder.active .footer-links {
    max-height: 10000px;
    
  }
}
/* Social Icons */
.social {
  text-align: center;
}
.social a {
  display: inline-block;
  padding: 7px;
  width: 25px;
  height: 25px;
  margin: 0 3px;
  background: #fff;
  border-radius: 50%;
  vertical-align: middle;
}
.social a:hover {
  background: #65c2ed;
}


/* Typography */
footer h3 {
  font-weight: lighter;
  margin-bottom: 0;
  font-size: 11pt;
}
footer p, footer li {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 10px 0;
}
footer li a {
    color: #7F7D7F;
}
footer a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color .5s, background .5s;
  transition: color .5s, background .5s;
}
footer a:hover {
  color: #8EAEBD;
}
.footer-contact a {
  text-transform: none;
  font-size:11pt;
}

/* Misc CSS */
.clearfix:before, .clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both;
}

@media only screen and (max-width: 1475px) {
    .footer-logo {
        display: none;
    }
}

@media only screen and (max-width: 1250px) {
    .footer-contact {
        margin-left: 20px;
    }
    
    footer h3 {
      font-size: 10pt;
    }
    .footer-contact a {
        font-size: 8pt;
        
    }
    #footer-long a {
        font-size: 6pt;
    }
}

@media only screen and (max-width: 725px) {
    footer .bottom-bar {
        display: none;
    }
}

@media only screen and (max-width:1770px ) {
    .brand {
        content: url("/img/logos/minature-logo.png");
    }
}

/* -------------------------------- 

Curriculum Overview

-------------------------------- */
#curriculum-overview {
    text-align: center;
    border-bottom: 2px solid #C3C1BF;
}

.location-row {
    display: inline-block;
    margin: 20px;
    padding-left: 100px;
    padding-right: 100px;
    border-right: 1px solid #8EAEBD;
    border-left: 1px solid #8EAEBD;
    border-top: 2px solid #AC966Q
}

/* -------------------------------- 

Preload animation

-------------------------------- */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}

#preloader {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "proxima-nova-soft", sans-serif;
  -webkit-user-select: none;
  overflow: hidden;
}

.vertical-centered-box {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
.vertical-centered-box:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.vertical-centered-box .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 0;
}
#preloader {
  background: #2c2d44;
}
.loader-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  margin-left: -60px;
  margin-top: -60px;
}
.loader-line-mask {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  overflow: hidden;
  -webkit-transform-origin: 60px 60px;
  -moz-transform-origin: 60px 60px;
  -ms-transform-origin: 60px 60px;
  -o-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
  -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  -webkit-animation: rotate 1.2s infinite linear;
  -moz-animation: rotate 1.2s infinite linear;
  -o-animation: rotate 1.2s infinite linear;
  animation: rotate 1.2s infinite linear;
}
.loader-line-mask .loader-line {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
#particles-background,
#particles-foreground {
  left: -51%;
  top: -51%;
  width: 202%;
  height: 202%;
  -webkit-transform: scale3d(0.5, 0.5, 1);
  -moz-transform: scale3d(0.5, 0.5, 1);
  -ms-transform: scale3d(0.5, 0.5, 1);
  -o-transform: scale3d(0.5, 0.5, 1);
  transform: scale3d(0.5, 0.5, 1);
}
#particles-background {
  background: #2c2d44;
  background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
  background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
  background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes rotate{ 0% { -webkit-transform: rotate(0deg);} 100% { -webkit-transform: rotate(360deg);}}
@-moz-keyframes rotate{ 0% { -moz-transform: rotate(0deg);} 100% { -moz-transform: rotate(360deg);}}
@-o-keyframes rotate{ 0% { -o-transform: rotate(0deg);} 100% { -o-transform: rotate(360deg);}}
@keyframes rotate{ 0% {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);} 100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}}
[not-existing] {
  zoom: 1;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
@-moz-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
@-o-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
@keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
[not-existing] {
  zoom: 1;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
@-moz-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
@-o-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
@keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
[not-existing] {
  zoom: 1;
}
